<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Attendance</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Attendance</h1>

		<body bgcolor="lightgrey">

			<form action="/addatt" autocomplete="on" method = "POST" enctype="multipart/form-data">

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="empid" autofocus size="40"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">ADD ATTENDANCE</button>

			</form>
<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>