<!DOCTYPE html>
<html>
<head>
	<title>Get Attendance </title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Attendance</h1>

		<body bgcolor="lightgrey">

			<form action="/getatt" autocomplete="on" method="POST">

				<h2 style="color: grey">Enter Employee ID</h2>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt;" type="number" name="empid" autofocus size="40"><br><br>

				Select a date:<br> <input style="height:25px;font-size:14pt;" type="date" name="dateAndTime" autofocus size="40"><br><br>
                

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">GET ATTENDANCE</button><br><br>

		  		

			</form>

		</body>
	</font>
</center>
</html>
